* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Carlito";
  src: url("../assets/Fonts/Carlito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Carlito";
  src: url("../assets/Fonts/Carlito-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Carlito";
  src: url("../assets/Fonts/Carlito-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Carlito";
  src: url("../assets/Fonts/Carlito-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: "Carlito", sans-serif;
  color: #555555;
  background-color: #e0e0e0;
}

/* HEADER */

header {
  padding-inline: 60px;
  height: 113px;
  width: 100%;
  background-color: #444141;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  gap: 26px;
}

.lightgrey {
  color: rgba(255, 255,255 , .3);
}


.param_box {
  width: 49px;
  height: 49px;
  background-color: #555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2),
     -2px -2px 5px
      rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.param_box:active {
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2),
             inset -2px -2px 5px rgba(255, 255, 255, 0.7);
}   

/* MAIN */
main {
  background-color: #e0e0e0;
  padding-block: 86px;
}
/* Entrer la tâche */
.tache_container {
  width: 50%;
  min-width: 450px;
  background-color: #e0e0e0;
  border-radius: 40px;
  padding: 20px 50px;
  margin: auto;
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.2),
     -3px -3px 5px
      rgba(255, 255, 255, 0.7);
}
.task-box {
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
  background-color: #e0e0e0;
  margin-top: 20px;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2), 
  inset -3px -3px 5px rgba(255, 255, 255, 0.7); 
  padding: 40px 40px;
  overflow: hidden;
}

#titre_tache {
  width: 90%;
}
.task-box input {
  width: auto;
  border: none;
  background-color: #e0e0e0;
  color: #555555;
}


.task-box input:focus {
  border: none;
  outline: none;
}

.new-task-input {
    font-size: 2rem;
}

.ligne {
    margin-block: 10px 40px;
    height: 0.5px;
    width: 25%;
    background-color: #555555;
}

.description{
    font-size: 1.5rem;
    color: #555555;
    opacity: 50%;
}



.date {
    font-size: 1.5rem;
    margin-top: 40px;
    gap: 44px;
   
}


.btn_ajouter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0 auto;
  width: 144px;
  height: 59px;
  border-radius: 50px;
  font-size: 1.5rem;
  color: #555555;
  border: none;
  background-color: #e0e0e0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2),
     -3px -3px 5px
      rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.btn_ajouter.inset {
      box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2),
        inset -3px -3px 5px rgba(255, 255, 255, 0.7);
    }

    .btn_ajouter:active {
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2),
             inset -3px -3px 5px rgba(255, 255, 255, 0.7);
}   


/* Container tâche a realiser */

.realiser_container {
  background-color: #e0e0e0;
  width: 50%;
  min-width: 450px;
  margin: AUTO;
  margin-top: 80px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2),
  -3px -3px 5px rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  padding: 30px;
}
h2 {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
}
.barre {
  margin-top: 20px;
  height: 1px;
  width: 100%;
  background-color: #555555;
}

.new-task-input::placeholder {
  user-select: none;
}

.taches {
    display: flex;
    justify-content: space-between;
    box-shadow:3px 3px 5px rgba(0, 0, 0, 0.2),
     -3px -3px 5px
      rgba(255, 255, 255, 0.7);
      border-radius: 20px;
      padding: 30px;
      margin-top: 40px;
      gap: 30px;
}

.taches p {
    font-size: 1.5rem;
    color: #555555;
    opacity: 33%;
    margin-top: 20px;
}

.title_calendar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;  
}

.trash_edit{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Tache réalisée */

.done_container {
  width: 50%;
  min-width: 450px;
  margin: auto;
  background-color:#e0e0e0;
  margin-top: 80px;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2),
             inset -3px -3px 5px rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  padding: 30px;
}

.done_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2),
             inset -3px -3px 5px rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 30px;
  margin-top: 40px;
}

.title_checked {
  display: flex;
  align-items: center;
  gap: 30px;
}